language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm
    - hhvm-nightly

env:
    global:
        - TEST_SERVER=http://127.0.0.1:10000/server.php
        - PHP_FCGI_CHILDREN=10
        - SYMFONY_VERSION=2.3.*
        - COMPOSER_PREFER_LOWEST=false
        - ENABLE_CURL=true

cache:
    apt: true
    directories:
        - vendor
        - $HOME/.composer/cache

install:
    - sudo apt-get update
    - sudo apt-get install apache2 libapache2-mod-fastcgi
    - sudo a2enmod actions fastcgi alias
    - if [[ "$TRAVIS_PHP_VERSION" != hhvm* ]]; then sudo cp -f tests/Fixtures/etc/apache-php.conf /etc/apache2/sites-available/default; fi
    - if [[ "$TRAVIS_PHP_VERSION" = hhvm* ]]; then sudo cp -f tests/Fixtures/etc/apache-hhvm.conf /etc/apache2/sites-available/default; fi
    - sudo sed -i "s?%SERVER_DIR%?$(pwd)/tests/Fixtures?g" /etc/apache2/sites-available/default
    - sudo service apache2 restart
    - if [[ "$ENABLE_CURL" = false ]]; then mkdir -p ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d; fi
    - if [[ "$ENABLE_CURL" = false ]]; then echo "disable_functions = curl_init" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini; fi
    - if [[ "$TRAVIS_PHP_VERSION" = "5.6" ]]; then echo "always_populate_raw_post_data = -1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini; fi
    - if [[ "$TRAVIS_PHP_VERSION" != hhvm* ]]; then php-cgi -b 127.0.0.1:9000 & fi
    - if [[ "$TRAVIS_PHP_VERSION" = hhvm* ]]; then hhvm --mode server -vServer.Type=fastcgi -vServer.Port=9000 -vServer.FixPathInfo=true & fi
    - composer self-update
    - composer require symfony/event-dispatcher:${SYMFONY_VERSION} --no-update --dev
    - if [[ "$SYMFONY_VERSION" = *dev* ]]; then sed -i "s/\"MIT\"/\"MIT\",\"minimum-stability\":\"dev\"/g" composer.json; fi
    - composer update --prefer-source `if [[ $COMPOSER_PREFER_LOWEST = true ]]; then echo "--prefer-lowest --prefer-stable"; fi`

script: bin/phpunit --coverage-clover clover.xml

after_script:
    - sed -i "/^disable_functions =.*$/d" ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
    - bin/coveralls -v

matrix:
    include:
        - php: 5.4
          env: COMPOSER_PREFER_LOWEST=true
        - php: 5.6
          env: ENABLE_CURL=false
        - php: 5.6
          env: SYMFONY_VERSION=2.1.*
        - php: 5.6
          env: SYMFONY_VERSION=2.2.*
        - php: 5.6
          env: SYMFONY_VERSION=2.4.*
        - php: 5.6
          env: SYMFONY_VERSION=2.5.*
        - php: 5.6
          env: SYMFONY_VERSION=2.6.*
        - php: 5.6
          env: SYMFONY_VERSION=2.7.*@dev
    allow_failures:
        - php: hhvm
        - php: hhvm-nightly
        - env: SYMFONY_VERSION=2.7.*@dev

notifications:
    email: geloen.eric@gmail.com
